/* Estilo para a Página de Login */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--bg-color);
    min-height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.login-form input {
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
}

.login-form input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}